{% extends 'app1/base.html' %}

{% block content %}
   
    <div class="container">
        <div class="row">
            <div class="col col-8 offset-2">
                <h1 class="alert altert-warning text-center">Employee Registration Form</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
            </div>
        </div>

<br><br><br>
<h1 class="alert altert-warning text-center">Employee Records</h1>
<table class="table caption-top my-5">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for i in data %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.password}}</td>
        <td>
           <a href="#">
            <button type="submit"  style="background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;">Submit</button>

             </a>
          <form action="{%  url 'delete'  i.id   %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" style="background-color: #f44336; /* Red */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;">
              Delete
            </button>
          </form>  
        </td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
    </div>
{% endblock content %}